<div *ngIf="notFound">
  <h2>{{notFound}}</h2>
</div>

<div *ngIf="film" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{film.Title}}</h1>
    </div>
  </div>
  <div class="row justify-content-md-center row-player">
    <div class="col-6">
      <div routerLink="player">
        <img src="{{film.Poster}}" alt="Video player" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-7">
      <p>
       {{film.Plot}}
      </p>
    </div>
    <div class="col-3">
      <h4>Director</h4>
      <span>{{film.Director}}</span>
      <h4>Genre</h4>
      <span>{{film.Genre}}</span>
      <h4>Cast</h4>
      <span>{{film.Actors}}</span>
      <h4>Year</h4>
      <span>{{film.Year}}</span>
      <h4>Language(s)</h4>
      <span>{{film.Language}}</span>
      <h4>Subtitles</h4>
      <span>{{film.Subtitles}}</span>

    </div>
  </div>
</div>
