/* Colors */
$blueGray: #263238;
$lightWhite: #dedede;
$main: #32b859;

h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $main;
}

label {
    margin-top: 38px!important;
}

select, option {
    width: 40%;
    height: 35px;
    background-color: transparent!important;
    color: $lightWhite!important;
}