/* You can add global styles to this file, and also import other style files */

/*
Colors
*/
$blueGray: #263238;
$lightWhite: #dedede;
$main: #32b859;

body{
  margin: 0 !important;
  background-color: $blueGray !important;
  color: $lightWhite !important;
}

* {
  font-size: 16px;
  font-family: 'Montserrat'!important;
}

h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $main;

}

form {
  width: 500px;
  position: relative;
  margin: 0 auto; 
  margin-top: 50px;
}

input {
  position: relative;
  width: 100%;
  background-color: transparent!important;
  color: $lightWhite!important;
  margin-top: 40px!important;
}

.invalid-feedback {
  color: red;
  position: absolute;
}

.invalid-feedback div {
  font-size: 12px;
  float: right;
}

.btn-primary {
  display: block;
  width: 30%;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent!important;
  border-color: $main!important;
  color: $lightWhite!important;
}

.btn-primary:hover {
  background-color: $main!important;
}