/*SEARCH BAR STYLING*/
/* search bar focus */
.search-container *:focus {
  background: #fbfbfb;
  color: #333333;
  outline: 0;
}

/* search bar container */
.search-container {
  display: table;
  position: relative;
  width: 31px;
  padding-top: 5px;
  cursor: pointer;
}

/* search icon button */
.search-icon-btn {
  background-color: #343a40;
  border: 1px solid #343a40;
  display: table-cell;
  height: 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  z-index: 2;
}

/* search bar input container */
.search-input {
  position: absolute;
  left: 0;
  z-index: 1;
}

/* search bar input */
.search-input input.search-bar {
  border: 1px solid #cccccc;
  height: 30px;
  width: 30px;
  padding: 0px;
}
.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}
.search-icon-btn{
    color: rgba(255, 255, 255, 0.75);
}
/*END SEARCH BAR STYLING*/