/* Colors */
$blueGray: #263238;
$lightWhite: #dedede;
$main: #32b859;

.container {
    margin-top: 80px;
}

.profile-img {
    min-width: 330px;
    max-width: 330px;
    min-height: 330px;
    max-height: 330px;
    object-fit: cover;
    border-radius: 300px;
}

form {
    margin: 0!important;
    padding: 0;
    margin-bottom: 40px!important;
    width: 100%;
}

input:disabled, select:disabled {
    background-color: lightgray!important;
    color: #6e757c!important;
}

input {
    margin-top: 0px!important;
    margin-bottom: 30px;
  }

select, option {
    width: 30%;
    height: 35px;
    background-color: transparent!important;
    color: $lightWhite!important;
}

.invalid-feedback {
    margin-top: -25px;
  }

.btn-primary {
    display: block;
    width: 30%;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: -5px;
    background-color: transparent!important;
    border-color: $main!important;
    color: $lightWhite!important;
  }
  
  .btn-primary:hover {
    background-color: $main!important;
  }

.divDeleteUser{
    text-align: center;
    font-size: 12px;
    color: #6e757c;
}

#deleteButton {
    cursor: pointer;
    font-size: 12px;
    color: #6e757c;
    text-decoration: underline;
}

#deleteButton:hover {
    color: red;
}